@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-bunker-800/75 rounded-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 dark:bg-bunker-700 rounded-lg cursor-pointer;
}
